<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrenamiento Automático - Traductor de Señas</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="content-container">
        <h1>Entrenamiento Automático del Modelo</h1>
        <p>Aquí el modelo se entrena automáticamente.</p>
        <button onclick="runPythonScript('entrenamiento.py')">Entrenar Automáticamente</button>
        <button class="back" onclick="navigateTo('dashboard.html')">Regresar</button>
    </div>
    <script src="js/dashboard.js"></script>
</body>
</html>
