<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auto Entrenar Modelo - Traductor de Señas</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="content-container">
        <h1>Auto Entrenar Modelo</h1>
        <p>Aquí puedes entrenar automáticamente el modelo.</p>
        <button onclick="navigateTo('dashboard.html')">Regresar</button>
    </div>
    <script src="/js/scripts.js"></script>
</body>
</html>
